#events-paper {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: lightgray;
    width: 75%
}

#more-info-btn {
    background-color: #3F51B5;
    width: 100px;
    margin-left: 110px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

#description-divider {
    margin: 20px;
}

#card-header {
    margin: 20px;
}

#text-paper {
    padding: 50px;
    margin: 20px;
}

#return-btn {
    margin: 20px;
}

#submit-btn {
    margin: 20px;
}

#form-title {
    margin: 20px;
}

#header {
    margin-left: 50px;
}