#events-paper {
    margin-right: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: lightgray;
}

#more-info-btn {
    background-color: #3F51B5;
    width: 150px;
    /* margin-left: 80px;
    margin-right: relative; */
    float: left;
}

#description-divider {
    margin: 20px;
}

#card-header {
    margin: 20px;
}

#text-paper {
    padding: 50px;
    margin: 20px;
}

#return-btn {
    margin: 20px;
}

#submit-btn {
    margin: 20px;
}

#form-title {
    margin: 20px;
}