/* #list-card {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 20px;
} */

#description-body{
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
}



/* #register-btn{
    margin-right: 50px;
    margin-left: auto;
} */

/* #event-name {
    text-align: left;
    padding: 3px;
}

#event-description {
    text-align: justify;
    text-justify: auto;
    padding: 3px;

    
} */

/* #tag-chip {
    float: left;
    padding: 2px;

} */

#dialog {
    width: 300;
}