#events-paper {
    margin-right: 150px;
    margin-left: 150px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: lightgray;
}

#more-info-btn {
    background-color: #407DC0;
    width: 150px;
    /* margin-left: 80px;
    margin-right: relative; */
    float: left;
}

#description-divider {
    margin: 20px;
}

#card-header {
    margin: 20px;
}