/* #gender-dropdown {
    height: 20px;
    max-width: 50px;
    margin: 20px;
    padding: 20px;
} */

#register-paper {
    padding: 50px;
    width: 30%;
    margin-left: 400px;
    margin-right: auto;
    margin-top: 35px;
}

#text-div {
    margin: 20px auto;
}

#login-btn {
    margin: 20px;
}